/* Reset basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Body Style */
  body {
    font-family: Arial, sans-serif;
    background-color: #EEF5FF;
    color: #333;
    line-height: 1.6;
  }
  
  /* Navigation Bar */
  header {
    background-color: #176B87;
    padding: 1rem 2rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #EEF5FF;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    color: #EEF5FF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color:cornflowerblue;
  }
  
  /* Cart Icon */
  .cart a {
    color: #EEF5FF;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Footer */
  footer {
    text-align: center;
    background-color: #176B87;
    color: #EEF5FF;
    padding: 1rem;
  }
  